*{margin: 0;
        padding: 0;}
        
        
        header {background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
        font-size: 12px;
        color: aliceblue;}
        
        .imagem{width: 20%;}
        
        .item-lista{display: inline-block;
        margin: 0 16px;}
        .imagem2{width: 50%;}
        
        .escola{background-image:linear-gradient(black,gray);
        color: aliceblue; display: flex; justify-content: center;
        align-items: center;
         }
        
         .conteudo-escola{width: 35%;}
        
         .escola-titulo{padding: 24px 0;}
